a:hover{
    color: black;
    border-bottom: 1px solid blue;
    cursor: pointer;
    transition: 0.3s ease all;
}

.flex-grow h2{
    padding: 5px;
    font-size: 2em;
}

.flex-grow p{
    font-size: 1.2em;
    padding: 5px;
}